<%= render 'navbar' %>
<div class="text-center p-5">
    <h1 class="">welcome to lists</h1>
    <%= link_to "Create new list", new_list_path %>
    <ul class="list-group list-group-flush text-center w-50 mx-auto">
      <% @lists.each do |list| %>
        <%= link_to list.name, list_path(list.id), class: 'list-group-item list-link' %>
      <% end %>
      </ul>
  <%= cl_image_tag("l5rf5xozxjmu6jjyufe5", width: 400, height: 300, crop: :fill) %>
  <%= cl_image_tag("e8wxugcggizo9fhxntsp", width: 150, height: 150, crop: :thumb, gravity: :face) %>
</div>
