<%= render 'navbar' %>
<div class="grid-container">
<div class="title">
<h1><%= @list.name %></h1>
</div>
<div class="w-50 mx-auto">
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment, as: :text, class: 'input-field' %>
  <%= f.association :movie, class: 'input-field' %>
  <%= f.button :submit, class: 'submit-btn' %>
<% end %>
</div>

<% @list.bookmarks.each do |bookmark| %>
  <div class="list-card-item mx-auto">
  <div>
    <p><%= bookmark.comment %></p>
    <h3><%= bookmark.movie.title %></h3>
  </div>
    <%= link_to "delete bookmark", bookmark_path(bookmark), method: :delete,
              data: { confirm: "Are you sure?" }, class: 'delete-btn'  %>
  </div>
<% end %>

<% if @list.photos.attached? %>
  <% @list.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
<% end %>

</div>
