<%= render 'navbar' %>
<h1><%= @list.name %></h1>
<%= link_to "Add Bookmark", new_list_bookmark_path(params[:id]) %>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment, as: :text %>
  <%= f.association :movie %>
  <%= f.button :submit %>
<% end %>

<% if @list.photos.attached? %>
  <% @list.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
<% end %>

<% @list.bookmarks.each do |bookmark| %>
  <%= bookmark.comment %>
  <%= bookmark.movie.title %>
  <%= link_to "delete", bookmark_path(bookmark), method: :delete,
            data: { confirm: "Are you sure?" }, class: 'btn btn-outline-danger mt-3 '  %>
<% end %>
